<div class="container">
    <!-- Here Container Start -->
    <div class="row">
        <!-- Here First Row Start -->

        <div class="col-md-4">
            <!-- Here Created First Column -->
            <div class="card-one">
                <!-- Here Created First Card -->
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>America Region<br>Countries</b></h1>
            </div><!-- Here End First Card -->
        </div> <!-- Here End First Column -->


        <div class="col-md-4">
            <!-- Here Created Second Column -->
            <div class="card-one">
                <!-- Here Created Second Card -->
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Europe Region<br>Countries</b></h1>
            </div><!-- Here End Second Card -->
        </div> <!-- Here End Second Column -->


        <div class="col-md-4">
            <!-- Here Created Third Column -->
            <div class="card-one">
                <!-- Here Created Third Card -->
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Africa Region<br>Countries</b></h1>
            </div><!-- Here End Third Card -->
        </div><!-- Here End Third Column -->

    </div> <!-- Here First Row End -->


    <div class="row">
        <!--  Here Second Row Start -->

        <div class="col-md-6">
            <!-- Here Created Fourth Column -->
            <div class="card-two">
                <!-- Here Created Fourth Card -->
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Asia Region<br>Countries</b></h1>
            </div><!-- Here End Fourth Card -->
        </div><!-- Here Endup Fourth Column -->

        <div class="col-md-6">
            <!-- Here Created Fivth Column -->
            <div class="card-two">
                <!-- Here Created Fivth Card -->
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Oceania Region<br>Countries</b></h1>
            </div> <!-- Here Endup Fivth Card -->
        </div><!-- Here Endup Fivth Column -->

    </div> <!-- Here Second Row End-->
</div> <!-- Here Container End -->