<div class="subregion-cart"><!-- Here Create Division using class subregion cart which contain various subregions -->
    <div class="container"><!-- Here used container to give equal padding and margin -->

<!--== HERE CREATE OR START A WHICH IS PLACED IN CONTAINER ==-->
        <h1 class="region-title">America Region</h1><!-- This is First title of region -->
        <div class="row"><!-- Here Create First Row -->

            <div class="col-md-3"><!-- Here Create First Column which contain first card -->
                <div class="card"><!-- Here Create First Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">North America Subregion</h1>
                        <p class="card-text"><b>Area:-</b>24.71 million km²</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a First Card which contain some information-->
            </div><!-- Here Endup First Column which contain first card -->

            <div class="col-3"><!-- Here Create Second Column which contain second card -->
                <div class="card"><!-- Here Create Second Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">South America Subregion</h1>
                        <p class="card-text"><b>Area:-</b>17.84 million km²</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Second Card which contain some information-->
            </div><!-- Here Endup Second Column which contain second card -->

            <div class="col-3"><!-- Here Create Third Column which contain third card -->
                <div class="card"><!-- Here Create Third Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Central America Subregion</h1>
                        <p class="card-text"><b>Area:-</b>523,780 sq km</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Third Card which contain some information-->
            </div><!-- Here Endup Third Column which contain third card -->

            <div class="col-3"><!-- Here Create Fourth Column which contain fourth card -->
                <div class="card"><!-- Here Create Fourth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Carribean Subregion</h1>
                        <p class="card-text"><b>Area:-</b>2.754 million km²</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Fourth Card which contain some information-->
            </div><!-- Here Endup Fourth Column which contain fourth card -->

        </div><!-- Here Endup First Row -->



<!--== HERE CREATE OR START SECOND ROW WHICH IS PLACED CONTAINER ==-->
        <h1 class="region-title">Europe Region</h1><!-- This is Second title of region -->
        <div class="row"><!-- Here Create Second Row -->

            <div class="col-3"><!-- Here Create Fivth Column which contain fivth card -->
                <div class="card"><!-- Here Create Fivth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">North Europe Subregion</h1>
                        <p class="card-text"><b>Area:-</b></p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Fivth Card which contain some information-->
            </div><!-- Here Endup Fivth Column which contain fivth card -->

            <div class="col-3"><!-- Here Create Sixth Column which contain sixth card -->
                <div class="card"><!-- Here Create Sixth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">South Europe Subregion</h1>
                        <p class="card-text"><b>Area:-</b></p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Sixth Card which contain some information-->
            </div><!-- Here Endup Sixth Column which contain sixth card -->

            <div class="col-3"><!-- Here Create Seventh Column which contain seventh card -->
                <div class="card"><!-- Here Create Seventh Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">East Europe Subregion</h1>
                        <p class="card-text"><b>Area:-</b></p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Seventh Card which contain some information-->
            </div><!-- Here Endup Seventh Column which contain seventh card -->

            <div class="col-3"><!-- Here Create Eighth Column which contain eighth card -->
                <div class="card"><!-- Here Create Eighth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">West Europe Subregion</h1>
                        <p class="card-text"><b>Area:-</b></p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Eighth Card which contain some information-->
            </div><!-- Here Endup Eighth Column which contain eighth card -->

        </div><!-- Here Endup Second Row -->



        <!--== HERE CREATE OR START THIRD ROW WHICH IS PLACED CONTAINER ==-->
        <h1 class="region-title">Middle East/Africa Region</h1><!-- This is a third title of region -->
        <div class="row"><!-- Here Create Third Row -->

            <div class="col-md-4"><!-- Here Create Ninth Column which contain ninth card -->
                <div class="card"><!-- Here Create Ninth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Middle East<br>Subregion</h1>
                        <p class="card-text"><b>Area:-</b>7,207,575 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Ninth Card which contain some information-->
            </div><!-- Here Endup Ninth Column which contain ninth card -->

            <div class="col-md-4"><!-- Here Create Tenth Column which contain tenth card -->
                <div class="card"><!-- Here Create Tenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">North Africa<br>Subregion</h1>
                        <p class="card-text"><b>Area:-</b>6,018,920.8 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Tenth Card which contain some information-->
            </div><!-- Here Endup a Tenth Column which contain tenth card -->

            <div class="col-md-4"><!-- Here Create Eleventh Column which contain eleventh card -->
                <div class="card"><!-- Here Create Eleventh Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">South Africa<br>Subregion</h1>
                        <p class="card-text"><b>Area:-</b>1.22 million km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Eleventh Card which contain some information-->
            </div><!-- Here Endup a Eleventh Column which contain eleventh card -->

        </div><!-- Here Endup Third Row -->



        <!--== HERE CREATE OR START FOURTH ROW WHICH IS PLACED CONTAINER ==-->
        <h1 class="region-title">Asia Region</h1><!-- This is Fourth title -->
        <div class="row"><!-- Here Create Fourth Row -->
            
            <div class="col-md-3"><!-- Here Create Twelweth Column which contain twelweth card -->
                <div class="card"><!-- Here Create Twelweth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">North Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>13,100,000 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Ninth Card which contain some information-->
            </div><!-- Here Endup a Ninth Column which contain twelweth card-->

            <div class="col-md-3"><!-- Here Create Thirteenth Column which contain thirteenth card -->
                <div class="card"><!-- Here Create Thirteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">South Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>4,545,792 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Thirteenth Card which contain some information-->
            </div><!-- Here Endup a Thirteenth Column which contain thirdteenth card -->

            <div class="col-md-3"><!-- Here Create Fourteenth Column which contain fourteenth card -->
                <div class="card"><!-- Here Create Fourteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">East Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>4,545,792 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Fourteenth Card which contain some information-->
            </div><!-- Here Endup a Fourteenth Column which contain fourteenth card -->

            <div class="col-md-3"><!-- Here Create Fivteenth Column which contain fivteenth card -->
                <div class="card"><!-- Here Create Fivteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">West Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>5,994,935 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Fivteenth Card which contain some information-->
            </div><!-- Here Endup a Fivteenth Column which contain fivteenth card -->

        </div><!-- Here Endup a Fourth Row -->



        <!--== HERE CREATE OR START FIVTH ROW WHICH IS PLACED CONTAINER ==-->
        <h1 class="region-title">Asia Region</h1><!-- This is Fivth title of region -->
        <div class="row"><!-- Here Create Fivth Row -->

            <div class="col-md-3"><!-- Here Create Sixteenth Column which contain sixteenth card -->
                <div class="card"><!-- Here Create Sixteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">North Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>13,100,000 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Sixteenth Card which contain some information-->
            </div><!-- Here Endup a Sixteenth Column which contain sixteenth card -->

            <div class="col-md-3"><!-- Here Create seventeenth Column which contain seventeenth card -->
                <div class="card"><!-- Here Create seventeenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">South Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>4,545,792 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a seventeenth Card which contain some information-->
            </div><!-- Here Endup a seventeenth Column which contain seventeenth information-->

            <div class="col-md-3"><!-- Here Create Eighteenth Column which contain eighteenth card -->
                <div class="card"><!-- Here Create Eighteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">East Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>4,545,792 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Eighteenth Card which contain some information-->
            </div><!-- Here Endup a Eighteenth Column which contain eighteenth information-->

            <div class="col-md-3"><!-- Here Create Ninteenth Column which contain ninteenth card -->
                <div class="card"><!-- Here Create Ninteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">West Asia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>5,994,935 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a Ninteenth Card which contain some information-->
            </div><!-- Here Endup a Ninteenth Column which contain ninteenth card  -->

        </div><!-- Here Endup Fivth Row -->




        <!--== HERE CREATE OR START SIX ROW WHICH IS PLACED CONTAINER ==-->
        <h1 class="region-title">Oceania Region</h1><!-- This is a Sixth Title -->
        <div class="row"><!-- Here Create Six Row  -->

            <div class="col-md-3"><!-- Here Create twentyteenth Column which contain twentyteeth card -->
                <div class="card"><!-- Here Create twentyteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Polynesia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>1000 Islands</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a twentyteenth Card which contain some information-->
            </div><!-- Here Endup a twentyteenth Column which contain twentyteenth card -->

            <div class="col-md-3"><!-- Here Create twentyoneteenth Column which contain twentyoneteenth card -->
                <div class="card"><!-- Here Create twentyoneteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Micronesia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>702 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a twentyoneteenth Card which contain some information-->
            </div><!-- Here Endup a twentyoneteenth Column which contain twentyoneteenth card-->

            <div class="col-md-3"><!-- Here Create twentytwoteenth Column which contain twentytwoteenth card -->
                <div class="card"><!-- Here Create twentytwoteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Melanesia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>coming soon</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a twentytwoteenth Card which contain some information-->
            </div><!-- Here Endup a twentytwoteenth Column which contain twentytwoteenth card -->

            <div class="col-md-3"><!-- Here Create twentythreeteenth Column which contain twentythreeteenth card -->
                <div class="card"><!-- Here Create twentythreeteenth Card which contain some information -->
                    <div class="body"><!-- Here body class which contain some information -->
                        <h1 class="card-title">Australasia Subregion</h1>
                        <p class="card-text"><b>Area:-</b>79,60,045 km sq</p>
                    </div><!-- Here endup a body class which contain some information -->
                </div><!-- Here Endup a twentythreeteenth Card which contain some information-->
            </div><!-- Here Endup a twentythreeteenth Column which contain twentythreeteenth card -->

        </div><!-- Here Endup a Sixth Row -->

    </div><!-- Here Endup a container which contain various subregions with title -->
</div><!-- Here Endup a subregion cart which rows and columns and details about subregion -->

