<body><!-- Here Start Body Tag Cover Whole Content -->
  <header><!-- Here Start Header Section Which Container Page Title and Navigation Link -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand active">Countries App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="">World Regions</a>
          <a class="nav-link" href="">World Currencies</a>
          <a class="nav-link" href="">World Languages</a>
          <a class="nav-link" href="">World Countries</a>
          <a class="nav-link" href="">World Flags</a>
        </div>
      </div>
    </nav>
  </header><!-- Here End Section Which Container Page Title and Navigation Link -->

  <!-- Here Show All Data which is present in other components like HTML CSS and TYEPScript -->

  <router-outlet></router-outlet>



  <footer><!-- Here Start Footer which contain external links and internal links and form -->
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <h1 class="exter-head">External Links</h1>
          <ul class="external-links">
            <li class="li"><a class="exter" href="https://en.wikipedia.org/wiki/United_Nations_geoscheme">Regions</a></li>
            <li class="li"><a class="exter" href="https://en.wikipedia.org/wiki/Subregion">Sub Regions</a></li>
            <li class="li"><a class="exter" href="https://en.wikipedia.org/wiki/Country">Countries</a></li>
            <li class="li"><a class="exter" href="https://en.wikipedia.org/wiki/Currency">Currencies</a></li>
            <li class="li"><a class="exter" href="https://en.wikipedia.org/wiki/List_of_country_calling_codes">Dail Codes</a></li>
            <li class="li"><a class="exter" href="https://www.countries-ofthe-world.com/flags-of-the-world.html">Countries Flags</a></li>
            <li class="li"><a class="exter" href="https://www.infoplease.com/world/countries/languages-spoken-in-each-country-of-the-world">Countries languages</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h1 class="inter-head">Internal Links</h1>
          <ol class="internal-links">
            <li class="ol"><a class="inter" [routerLink]="['Other/Allregion']">Regions</a></li>
            <li class="ol"><a class="inter" [routerLink]="['Other/Allsubregion']">Sub Regions</a></li>
            <li class="ol"><a class="inter" [routerLink]="['Other/Allcountries']">Countries</a></li>
            <li class="ol"><a class="inter" [routerLink]="['Other/Allcurrencies']">Currencies</a></li>
            <li class="ol"><a class="inter" [routerLink]="['Other/Allcallingcodes']">Dail Codes</a></li>
            <li class="ol"><a class="inter" [routerLink]="['Other/Allflags']">Countries Flags</a></li>
            <li class="ol"><a class="inter" [routerLink]="['Other/AllLanguages']">Countries Languages</a></li>
          </ol>
        </div>

        <div class="col-md-4"><!-- Here Start third Column -->
          <form><!--Here start form -->
            <input type="text" placeholder="Enter Name" >
            <input type="email" placeholder="Enter Email Address">
            <textarea placeholder="Enter a Query" cols="45" rows="7"></textarea>
            <input type="submit" value="Send Message">
          </form><!-- Here End Form -->
        </div><!-- Here end form -->
      </div><!-- Here End Row Which contain three columns -->
    </div><!-- Here End a container -->
  </footer><!-- Here End a footer -->
</body><!-- Here End Body which cover whole content -->