<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-one">
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>America Region<br>Countries</b></h1>
                <a [routerLink]="['/region/countries','Americas']">Show America Countries</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-one">
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Europe Region<br>Countries</b></h1>
                <a [routerLink]="['/region/countries','Europe']">Show Europe Countries</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-one">
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Africa Region<br>Countries</b></h1>
                <a [routerLink]="['/region/countries','Africa']">Show Africa Countries</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-two">
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Asia Region<br>Countries</b></h1>
                <a [routerLink]="['/region/countries','Asia']">Show Aisa Countries</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-two">
                <i id="globe" class="fa fa-globe"></i>
                <h1><b>Oceania Region<br>Countries</b></h1>
                <a [routerLink]="['/region/countries','Oceania']">Show Oceania Countries</a>
            </div>
        </div>
    </div>
</div>